@import "../mixins";
body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(249, 249, 249);
}

@include respond(tab-port) {
    img {
        width: 100%;
        height: auto;
    }
}

* {
    margin: 0;
    padding: 0;
}

#mob_app {
    width: 100%;
    display: block;
    margin: -150px auto 0;
    max-width: 800px;

    @include respond(small-phone) {
        margin: -80px auto 0;
    }

    g {
        perspective: 150px;
    }

    .mob {
        transform: translate3d(40%, -40%, 0);
        opacity: 0;
        animation: go 1.5s cubic-bezier(0.32, 1.04, 1, 1) forwards;
        transform-style: preserve-3d;
    }

    .mob_shadow {
        transform-style: preserve-3d;
        transform: translate3d(9%, -5%, 0);
        opacity: 0;
        animation: go 1.6s cubic-bezier(0.32, 1.04, 1, 1) forwards;
    }

    .float_up {
        transform: translate3d(20px, -15%, 0);
        transform-style: preserve-3d;
        animation: go 1s cubic-bezier(0.32, 1.04, 1, 1) forwards 1.5s;
        opacity: 0;
    }

    .float_down {
        transform: translate3d(0px, 3%, 0);
        transform-style: preserve-3d;
        animation: go 1s cubic-bezier(0.32, 1.04, 1, 1) forwards 1.5s;
        opacity: 0;
    }

    .zoom_in {
        transform: scale(0);
        animation: go .8s cubic-bezier(0.32, 1.04, 1, 1) forwards 1.6s;
    }

    .scale_y {
        transform: scaleY(0);
        transform-origin: top;
        animation: go 1s ease-out forwards 1.7s;
    }

    .clock {
        opacity: 0;

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                animation: show 1s ease-out forwards (($i/2.5) + 0.5s);
            }
        }
    }

    .float_h {
        opacity: 0;
        transform: translate3d(-10%, -10%, 0);
        animation: go 1s ease-out forwards 1.6s;

        &:nth-child(odd) {
            transform: translate3d(10%, 10%, 0);
        }
    }

    .lines {
        g,
        path {
            opacity: 0;

            @for $j from 1 through 14 {
                &:nth-child(#{$j}) {
                    animation: show 1s ease-out forwards (($j/2.2) + 0.5s) infinite alternate;
                }
            }
        }
    }

    .charts {
        g {
            opacity: 0;

            @for $j from 1 through 14 {
                &:nth-child(#{$j}) {
                    animation: show 1s ease-out forwards (($j/2.2) + 1s);
                }
            }
        }
    }
}

@keyframes go {
    100% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}

@keyframes show {
    100% {
        opacity: 1;
    }
}

.header__title {
    display: inline-block;
    line-height: 2;
    position: absolute;
    top: 10%;
    left: -10%;
    opacity: 0;
    margin-left: 5%;      

    @include respond(tab-port) {
        display: block;
        margin-left: 0;
        text-align: center;
        position: relative;
        margin-bottom: -150px;
    }

    @include respond(phone) {
        margin-bottom: 0;
        font-size: 90%;
    }

    h2 {
        font-weight: 100;
    }

    p {
        font-size: 15px;
        cursor: pointer;
        transition: transform .5s;
        display: inline-block;

        &:hover {
            transform: scale(1.1);
        }
    }

    span {
        color: rgb(224, 14, 77);
    }
}

.scenes {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    .scene {
        position: absolute;
        top: 9000px;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        &.scene_1 {
            top: 0;
            background-color: #251f61;

            .gallery-btn {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, -10%);
            }
        }

        &.scene_2 {            
            width: 90%;
            position: relative;
            margin: 0 auto;
            background-color: rgb(249, 249, 249);

            img {
                border-radius: 15px;
            }

            .scene_2-header {
                width: 40%;
                padding-left: 200px;
                float: left;
                padding-top: 35px;

                @include respond(tab-port) {
                    padding-left: 0;
                }

                h4 {
                    margin-bottom: 20px;
                }

                p {
                    padding-bottom: 20px;

                    @include respond(xs-phone) {
                        font-size: 13px;
                    }
                }

                #left_img {
                    opacity: 0;
                }
            }

            .scene_2-container {
                width: 40%;
                float: right;
                padding-top: 70px;
                position: relative;

                .right_img {
                    display: block;
                    margin-bottom: 10px;
                }               

                #right_img_1 {
                    position: absolute;
                    top: 100%;
                    right: -90%;
                    opacity: 0;
                }

                #right_img_2 {
                    opacity: 0;
                }                
            }  

            .gallery-btn {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, -10%);
            }
        }

        &.scene_3 {
            overflow: scroll;

            .gallery-btn {
                text-align: center;

                @include respond(tab-port) {
                    margin-top: 170px;
                }

                @include respond(phone) {
                    margin-top: 90px;
                }

                @include respond(small-phone) {
                    margin-top: 50px;
                }

                @include respond(xs-phone) {
                    margin-top: 15px;
                }

                img {
                    text-align: center;
                   
                }
            }
        }
    }
    
    .arrow_img {
        width: 50px;
        -moz-animation: arrow_img 2s infinite;
        -webkit-animation: arrow_img 2s infinite;
        animation: arrow_img 2s infinite;
        cursor: pointer;
    }

    @keyframes arrow_img {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }

        40% {
            transform: translateY(-30px);
        }

        60% {
            transform: translateY(-15px);
        }
    }
}

.shopping {
    width: 30%;
    float: right;
    position: absolute;
    top: 10%;
    right: -10%;
    opacity: 0;

    @include respond(tab-port) {
        float: none;
        text-align: center;
        position: relative;
        width: 70%;
        margin: auto;
        margin-top: -350px;
    }

    @include respond(phone) {
        width: 100%;
        margin-top: -140px;
    }

    @include respond(small-phone) {
        margin-top: -75px;
    }

    &_select {

        & .group p {
            margin-bottom: 20px;

            @include respond(xs-phone) {
                margin-bottom: 10px;
            }
        }

        select {
            width: 70%;
            margin-bottom: 5%;
            background-color: #f1f1f1;
            padding: 5px;
            border-radius: 4px;

            @include respond(tab-port) {
                margin-bottom: 0;
            }

            @include respond(phone) {
                margin-bottom: 5%;
            }

            @include respond(xs-phone) {
                margin-bottom: 0;
            }
        }
    }

    &_btn {
        text-decoration: none;
        color: #f1f1f1;
        font-size: 14px;
        text-transform: uppercase;
        padding: 6px 18px;
        background-color: rgb(224, 14, 77);
        border-radius: 4px;
        display: inline-block;
        margin-top: 30px;
        cursor: pointer;
        transition: transform .5s;
        
        @include respond(small-phone) {
            margin-top: 0;
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}

.modal {
    background: rgba(0, 0, 0, .8);
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;

    .bg {
        background-color: #ff000085;
        width: 100vw;
        height: 100vh;
        position: absolute;
    }
   
    .content {
        background-color: #f1f1f1;
        box-shadow: 10px 10px 60px #555;
        display: inline-block;
        height: auto;
        max-width: 551px;
        height: 80vh;
        vertical-align: middle;
        width: 80%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        border-radius: 8px;
        padding: 15px 5%;

        @include respond(small-phone) {
            height: 50vh;
        }

        h1 {
            font-size: 29px;
            font-weight: 100;
            margin-top: 12%;

            @include respond(small-phone) {
                font-size: 20px;
            }
        }

        .login_form {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 50%;

            .shopping_btn {
                margin-top: 30px;
            }
        }

        input {
            border-radius: 3px;
            padding: 10px;
            width: 100%;
            border: 1px solid rgb(224, 14, 77);
        }

        label {
            float: left;
            margin: 6% 0 1%;
        }
    }
}

.panel {
    max-height: 0;
    opacity: 0;
    background-color: #fff;
    overflow: hidden;
    color: #333;
    transition: 0.3s ease-in-out;

    &.show {
        opacity: 1;
        max-height: 900px;
        padding: 2% 2% 0 2%;
    }
}

.container-item {
    background-color: #f1f1f1;
    min-height: 100vh;

    &__category {
        width: 80%;
        margin: 0 auto;

        @include respond(tab-port) {
            width: 100%;
        }
    }
}

.property-half {
    span {
        color: rgb(224, 14, 77);
        margin-right: 2%;
        display: inline-block;
        width: 40px;
        text-align: center;
    }

    .arrow {
        color: #9e9e9e;
        float: right;
        margin-right: 2%;
    }

    &__title {
        cursor: pointer;
        color: #333;
        font-weight: 500;
        font-size: 20px;
        padding: 2% 0 2% 2%;
        border-radius: 2px;
        transition: all .5s;
        background-color: #e3e1e1;
        border-bottom: 1px solid #9e9e9e;

        @include respond(phone) {
            padding: 4% 0 4% 4%;
            font-size: 18px;
        }
    }

    &__specs {
        padding-bottom: 2%;

        &-label {
            font-weight: 700;
            padding: 1%;

            @include respond(phone) {
                padding: 2%;
            }
        }

        &-value {
            padding: 0 1%;

            @include respond(phone) {
                padding: 0 2%;
            }
        }
    }
}

.rotate {
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.rotate.down {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}



